flet                      0.21.2
flet-core                 0.21.2
flet-runtime              0.21.2
python                    3.11.5
python-dateutil           2.8.2 
python-dotenv             1.0.1 
python-fastjsonschema     2.16.2
python-json-logger        2.0.7 
python-slugify            8.0.4 
python-tzdata             2023.3
sqlalchemy                2.0.29